@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

.intro-image {
    background-image: url('../image/image3.jpg');
    background-size: cover;
    background-position: top;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.intro-image_link a {
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: #633f2685;
    color: #837884;
    padding: 2rem;
    border: 2px solid #633f26;
    transition: all 0.5s ease-in-out;
}

.intro-image_link a:hover{
    transform: scale(1.2);
}

.intro-text {
    height: 250px;
    background-color: #b68763;
    color:#000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}

.intro-text_textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    height: 450px;
    background-image: url('../image/image2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.quality-image_link a {
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: #1c110faf;
    color: #cdac8d;
    padding: 2rem;
    border: 2px solid #1c110faf;
    transition: all 0.5s ease-in-out;
}

.quality-image_link a:hover{
    transform: scale(1.2);
}

.quality-text{
    height: 250px;
    background-color: #2b1a18;
    color:#ac9394;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}

.quality-text_textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer{
    height: 250px;
    background-color: #6d6668a1;
    color: #a03312;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem; 
}

.footer ul li a {
    color: #a03312;
    text-decoration: none;
    
}

.footer ul li:hover{
    transform: scale(1.2);
   }

.origin-image{
    height: 450px;
    background-image: url('../image/image1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.origin-image_link a{
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: #cf8b3d8c;
    color:#2c2b2b;
    padding: 2rem;
    border: 2px solid #cf8c3d;
    transition: all 0.5s ease-in-out;
}

.origin-image_link:hover{
    transform: scale(1.2);
}

.origin-text{
    height: 250px;
    background-color: #cfa85e;
    color:#4e4f56;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}

.origin-text_textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}